body {
    background-color: black;
}

#keyboard {
    position: relative;
    margin: 10% 10% 0 10%;
    width: 80%;
    height: 400px;
}

.key {
    height: 400px;
    background-color: white;
    border: 0.2rem black solid;
    width: 10%;
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    transition: height 0.3s;
}

#label {
    position: relative;
    margin: 0 10% 10% 10%;
    width: 80%;
    color: white;
    font-family: cursive;
    text-align: center;
}

.label {
    float: left;
    width: 10%;
}

.selector {
    color: white;
    position: absolute;
}

.key:active {
    background-color: red;
    height: 380px;
}

.key.black {
    position: absolute;
    background-color: black;
    height: 300px;
    width: 6%;
    border-radius: 0 0 10px 10px;
}

.key.black:active {
    background-color: red;
    border: none;
    border-top: 0.2rem black solid;
    height: 290px;
}

#CS {
    left: 7%;
}

#DS {
    left: 17%
}

#FS {
    left: 37%
}

#GS {
    left: 47%
}

#AS {
    left: 57%
}

#CS1 {
    left: 77%
}

#DS1 {
    left: 87%
}